commands:
  01_download_ffmpeg:
    command: "wget -O /tmp/ffmpeg.tar.xz https://johnvansickle.com/ffmpeg/releases/ffmpeg-release-amd64-static.tar.xz"
    cwd: /tmp
  02_create_ffmpeg_dir:
    command: "mkdir -p /opt/ffmpeg"
  03_extract_ffmpeg:
    command: "tar -xf /tmp/ffmpeg.tar.xz --strip-components=1 -C /opt/ffmpeg"
  04_symlink_ffmpeg:
    command: "ln -sf /opt/ffmpeg/ffmpeg /usr/bin/ffmpeg"
  05_symlink_ffprobe:
    command: "ln -sf /opt/ffmpeg/ffprobe /usr/bin/ffprobe"
